<div class="nav nav-small">
    <div class="page-menu-skin disabled">
        <div class="nav-divider">Menu Skin</div>
        <a href="#" class="active-nav">
            <i class="fa fa-circle"></i><span>Light</span><i class="fa fa-angle-right"></i>
        </a>    
        <a href="#">
            <i class="fa fa-circle"></i><span>Dark</span><i class="fa fa-angle-right"></i>
        </a>    
    </div>   
    <div class="page-skin disabled">
        <div class="nav-divider">Page Skin</div>
        <a href="#" class="active-nav">
            <i class="fa fa-circle"></i><span>Light</span><i class="fa fa-angle-right"></i>
        </a>    
        <a href="#">
            <i class="fa fa-circle"></i><span>Dark</span><i class="fa fa-angle-right"></i>
        </a>    
    </div>
    <div class="page-highlights">
        <div class="nav-divider">Page Highlights</div>
        <a href="#" id="highlight-default" data-change-highlight="blue2"><i class="fa fa-circle color-blue2-dark"></i><span class="color-blue2-light">Default</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="red1"><i class="fa fa-circle color-red1-dark"></i><span class="color-red2-light">Red</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="pink2"><i class="fa fa-circle color-pink2-dark"></i><span class="color-pink2-light">Pink</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="magenta1"><i class="fa fa-circle color-magenta1-dark"></i><span class="color-magenta1-light">Purple</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="blue2"><i class="fa fa-circle color-blue2-dark"></i><span class="color-blue2-light">Blue</span><i class="fa fa-angle-right"></i></a>
        <a href="#" data-change-highlight="aqua"><i class="fa fa-circle color-aqua-dark"></i><span class="color-aqua-light">Aqua</span><i class="fa fa-angle-right"></i></a>      
        <a href="#" data-change-highlight="mint"><i class="fa fa-circle color-mint-dark"></i><span class="color-mint-light">Mint</span><i class="fa fa-angle-right"></i></a>      
        <a href="#" data-change-highlight="green2"><i class="fa fa-circle color-green2-dark"></i><span class="color-green2-light">Green</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="green1"><i class="fa fa-circle color-green1-dark"></i><span class="color-green1-light">Grass</span><i class="fa fa-angle-right"></i></a>       
        <a href="#" data-change-highlight="yellow2"><i class="fa fa-circle color-yellow2-dark"></i><span class="color-yellow2-light">Sunny</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="yellow1"><i class="fa fa-circle color-yellow1-dark"></i><span class="color-yellow1-light">Goldish</span><i class="fa fa-angle-right"></i></a>
        <a href="#" data-change-highlight="orange"><i class="fa fa-circle color-orange-dark"></i><span class="color-orange-light">Orange</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="brown1"><i class="fa fa-circle color-brown1-dark"></i><span class="color-brown1-light">Wood</span><i class="fa fa-angle-right"></i></a>    
        <a href="#" data-change-highlight="brown2"><i class="fa fa-circle color-brown2-dark"></i><span class="color-brown2-light">Earth</span><i class="fa fa-angle-right"></i>
        </a>        
    </div>
    <div class="divider top-15"></div>
    <p>Copyright <span class="copyright-year"></span> - Enabled. All rights Reserved.</p>
</div>

<script type="text/javascript">
    $('[data-change-highlight]').on('click',function(changeColor){
        var colorsArray = [
            ["red1","#D8334A","#BF263C"], 
            ["red2","#ED5565","#DA4453"], 
            ["orange","#FC6E51","#E9573F"], 
            ["yellow1","#FFCE54","#F6BB42"], 
            ["yellow2","#E8CE4D","#E0C341"],
            ["green1","#A0D468","#8CC152"], 
            ["green2","#2ECC71","#2ABA66"], 
            ["mint","#48CFAD","#37BC9B"], 
            ["teal","#A0CECB","#7DB1B1"], 
            ["aqua","#4FC1E9","#3BAFDA"], 
            ["blue1","#4FC1E9","#3BAFDA"],
            ["blue2","#5D9CEC","#4A89DC"], 
            ["magenta1","#AC92EC","#967ADC"], 
            ["magenta2","#8067B7","#6A50A7"], 
            ["pink1","#EC87C0","#D770AD"], 
            ["pink2","#fa6a8e","#fb3365"], 
            ["brown1","#BAA286","#AA8E69"], 
            ["brown2","#8E8271","#7B7163"],
            ["gray1","#F5F7FA","#E6E9ED"],
            ["gray2","#CCD1D9","#AAB2BD"],
            ["dark1","#656D78","#434A54"],
            ["dark2","#3C3B3D","#323133"]
        ];
        $(this).parent().find('a').removeClass('active-nav');
        $(this).addClass('active-nav');
        var highlightNew = $(this).data('change-highlight');
        $('body').attr('data-highlight',highlightNew);
        $('.generated-highlight').remove();
        var data = colorsArray.map(colorsArray => colorsArray[0]);
        if (data.indexOf(highlightNew) > -1) {
            var highlightLocated = data.indexOf(highlightNew)
            var highlightColorCode = colorsArray[highlightLocated][2]
            var highlightColor = '.color-highlight{color:'+highlightColorCode+'!important}'
            var highlightBg = '.bg-highlight{background-color:'+highlightColorCode+'!important}'
            var highlightNav = '.active-nav{background-color:'+highlightColorCode+'!important}'
            $('body').append('<style class="generated-highlight"></style>')
            $('.generated-highlight').append(highlightColor, highlightBg, highlightNav);
        }
        return false;
    });
    
</script>