<a href="#" class="nav-title color-theme"><span class="color-highlight">ChatBot</span></a>
<span class="nav-text color-theme opacity-50">Application</span>

<div class="nav nav-medium">
    <div class="divider"></div>
    <a id="page-home" href="/web/dashboard">
        <i class="fa fa-home color-yellow1-light"></i><span>Homepage</span><i class="fa fa-angle-right"></i>
    </a>     
    <a id="" href="/web/chat">
        <i class="fa fa-user color-green1-dark"></i><span>Ajukan Pertanyaan</span><i class="fa fa-angle-right"></i>
    </a>     
    <a id="" href="/logout">
        <i class="fa fa-power-off color-red2-dark"></i><span>Logout</span><i class="fa fa-angle-right"></i>
    </a>    
    <div class="divider top-15"></div>
    <p>Copyright <span class="copyright-year"></span> - Enabled. All rights Reserved.</p>
</div>
